﻿@charset "utf-8";

/* ---------------------------------------------------------------------------------------- 

	1-1.Yahoo UI Library Fonts CSS
	http://developer.yahoo.com/yui/fonts/
	*Copyright (c) 2006, Yahoo! Inc. All rights reserved.
	*http://developer.yahoo.com/yui/license.txt

	Font-size Adjustment
	
	77% = 10px	|	122% = 16px	|	167% = 22px	
	85% = 11px	|	129% = 17px	|	174% = 23px
	92% = 12px	|	136% = 18px	|	182% = 24px
	100% = 13px	|	144% = 19px	|	189% = 25px
	107% = 14px	|	152% = 20px	|	197% = 26px
	114% = 15px	|	159% = 21px	|

---------------------------------------------------------------------------------------- */

body {
	background: url(../images/head_bg_line.gif) repeat-x left top;
	text-align: center;
	font-size: 13px; /* モダンブラウザ向け */
	*font-size: small; /* IE 7向け */
	*font: x-small; /* IE 6以下 */
	color: #666666;
	font-family: Verdana, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", Arial, Helvetica, sans-serif;
}
  
/* Firefox 3用 */

body,x:-moz-broken {
	margin-left:-1px;
}
  
.wrapper {
	margin: 0 auto;
	text-align: left;
	width:950px;
}

a { color: #000;}
a:hover { color: #ffc529;}
a:hover img {
	opacity: 0.6;			/*リンク画像 マウスオーバー時の透明度 IE以外のモダンブラウザ用*/
	filter: alpha(opacity=60);	/*リンク画像 マウスオーバー時の透明度 IE用*/
}
/* head
---------------------------------------------------------------------------------------- */
#head{
	margin-bottom:10px;
}

#logo{
}

#head_Logo{
	float:left;
}

#headerContact {
	float:right;
}

#headerContact {
	margin:20px 0 0 0;
}


#headerContact div {
	font-family: Arial, Helvetica, sans-serif;
	font-size:189%;
	font-weight:bold;
	color:#ffc529;
}

#headerContact div span {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000;
	vertical-align: middle;
}

#headerContact p {
	font-size:10px;
        font-weight:bold;
	color:#666;
}

/* #globalNavi
----------------------------------------------------- */
#globalNavi {
	overflow: hidden;
	background: url(../images/global_navi_bg.gif) repeat-x left top;
	height: 54px;
	padding:0;
}

#globalNavi ul {
	padding-top: 0;
}

#globalNavi ul li {
	display: inline;
	float: left;
	width: 134px;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:100%;
	font-weight:bold;
}

#globalNavi ul li p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:77%;
	color:#c1c1c1;
}

#globalNavi ul li a {
	display: block;
	height: 54px !important;
	height /**/: 54px;
	padding: 12px 0 0;
	border-bottom: none;
	color: #000;
	text-align: center;
	text-decoration: none;
	background: url(../images/global_navi.gif) no-repeat left top;
}

#globalNavi ul li a:hover {
	background:url(../images/global_navi_over.gif) no-repeat left top;
	color:#ffc529;
	text-decoration: none;
}

#globalNavi ul li.last {
	display: inline;
	float: left;
	width: 146px;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:100%;
	font-weight:bold;
}


#globalNavi ul li.last a {
	display: block;
	height: 44px !important;
	height /**/: 54px;
	padding: 12px 0 0;
	border-bottom: none;
	color: #000;
	text-align: center;
	text-decoration: none;
	background: url(../images/global_navi_last.gif) no-repeat left top;
}

#globalNavi ul li.last a:hover {
	background:url(../images/global_navi_last_over.gif) no-repeat left top;
	color:#ffc529;
	text-decoration: none;
}

/* float
----------------------------------------------------- */
.left { float: left;}
.right { float: right;}


/* #container
---------------------------------------------------------------------------------------- */
#container{
	background:url(../images/himg_bottom.gif) no-repeat left 0;
	width:950px;
	
}

/* #contents
---------------------------------------------------------------------------------------- */
#contents{
	width:717px;
}

#contents .box_out {
	background-color: #F3EFE9;
	margin-top: 1px;
	margin-bottom: 5px;
	padding: 5px;
}
#contents .box_in {
	background-color: #FFFFFF;
	border: 1px solid #E3DACE;
	margin-bottom: 5px;
	padding: 10px;
}

dl.dl_link {
	padding: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D9D9D9;
	margin-right: 10px;
	margin-left: 5px;
}
.dl_link dt {
	font-size: 15px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	line-height: 28px;
	margin-bottom: 7px;
	background-image: url(img/li.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 10px;
	font-weight: normal;
	letter-spacing: 1px;
}
.dl_link dd {
	font-size: 13px;
	line-height: 20px;
	padding-right: 15px;
	padding-left: 15px;
	color: #505050;
}

#content ul.list {
	padding-top: 10px;
	padding-bottom: 10px;
}
#content ul.list li {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 7px;
	padding-left: 25px;
	background-image: url(img/li.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #DDDDDD;
	color: #996731;
}

#content .dl_list {
	padding: 5px;
	border: 1px solid #EEEEEA;
	float: left;
	margin-bottom: 5px;
}
#content .dl_list dt {
	float: left;
	display: block;
	width: 80px;
	font-size: 12px;
	padding-left: 15px;
	line-height: 1.4em;
	background-image: url(img/li.gif);
	background-repeat: no-repeat;
	background-position: 5px center;
}
#content .dl_list dd {
	display: block;
	float: right;
	width: 460px;
	font-size: 12px;
	line-height: 1.4em;
	padding-left: 7px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #D7E6E8;
}
#content .dl_list dl {
	padding-bottom: 7px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D6D5CB;
	display: block;
	width: 570px;
	padding-top: 7px;
	padding-right: 4px;
	padding-left: 4px;
	float: left;
}
#content .dl_list dd a {
	line-height: 1.4em;
}

.img_left {
	float: left;
	background-color: #FFFFFF;
	padding: 2px;
	margin-top: 5px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
	border: 1px solid #EDECE9;
}
.img_right {
	float: right;
	background-color: #FFFFFF;
	padding: 2px;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	border: 0px solid #EDECE9;
}

.boxmini {
	overflow: auto;
	padding: 5px;		/*ボックスの左の線*/
	margin-bottom: 1em;
	border: 1px solid #d6d6d6;
	width: 155px;
	height: 220px;
	float: left;
	margin-left: 10px;
	margin-right: 2px;
	display: inline;
}

.boxmini2 {
	overflow: auto;
	padding: 5px;		/*ボックスの左の線*/
	margin-bottom: 1em;
	border: 1px solid #d6d6d6;
	width: 705px;
	height: 430px;
	float: left;
	margin-left: 0px;
	margin-right: 2px;
	display: inline;
}

.boxmini3 {
	overflow: auto;
	padding: 5px;		/*ボックスの左の線*/
	margin-bottom: 1em;
	border: 1px solid #d6d6d6;
	width: 215px;
	height: 252px;
	float: left;
	margin-left: 10px;
	margin-right: 2px;
	display: inline;
}

/* TOPPAGE
----------------------------------------------------- */
.newsDl dt,
.newsDl dd {
	line-height: 1.5;
}

.newsDl dt{
	background: url(../images/news_icon.gif) no-repeat 5px 13px;
	padding:5px 10px 0 15px;
	font-weight:bold;
	overflow: auto;
	color:#000;
}

.newsDl dd {
	margin: -1.7em 0 8px 0;
	padding: 2px 0 3px 8em;
}

.newsDl dd span {
	display: block;
	padding: 0 0 0 20px;
}

.newsDl dd span a { text-decoration: none;}

.btn_s {
	text-align: right;
	clear: both;
        margin: 10px
	padding: 5px;
}
.btn_s a,
a.btn_s {
	color: #FFFFFF;
	background-color: #FA8E0C;
	padding-top: 3px;
	padding-right: 7px;
	padding-bottom: 3px;
	padding-left: 7px;
	font-size: 12px;
	border-top-width: 2px;
	border-right-width: 3px;
	border-bottom-width: 2px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #F0F0EE;
	border-right-color: #F0F0EE;
	border-bottom-color: #F0F0EE;
	border-left-color: #F0F0EE;
	text-decoration: none;
	background-image: url(img/btn.gif);
	background-repeat: repeat-x;
	background-position: center top;
}
.btn_s a:hover,
a.btn_s:hover {
	color: #FFFFFF;
	background-color: #FFB559;
	background-image: url(img/btn_ov.gif);
}

/* #right
----------------------------------------------------- */
#right {
	float: right;
	width: 223px;
}

.subBox {
	margin-bottom: 15px;
}

.subContactBox {
	margin-bottom: 15px;
	background: url(../images/sub_menu_middle.gif) repeat-y 0 0;
	height: 100%;
}

.subContactBox ul {
	margin-bottom: 0;
}

.subContactBox ul li {
	background: url(../images/sub_menu_icon.gif) no-repeat 25px 15px;
	margin-bottom:3px;
	padding:10px 0 10px 3.9em;
}

.subContactBox ul li a {
	color:#000;
	text-decoration:none;
}

.subContactBox ul li a:hover {
	color:#ffc529;
	text-decoration:none;
}

.subNavi ul li {
	margin-bottom: 7px;
}

#side #flash-calendar {
	width: 223px;
	height: 170px;
	background-image: url(images/imgbg01-200x170_341f0a.gif);
	background-repeat: no-repeat;
	margin-bottom: 15px;
}

/*メインコンテンツ内の「おしらせ」部分
---------------------------------------------------------------------------*/
#main dl.new {
	width: 98%;			/*What's Newボックスの幅*/
	height: auto;			/*What's Newボックスの高さ*/
	overflow: auto;
	padding: 5px 0px 10px 10px;
	margin-right: auto;
	margin-left: 2px;
}

#main dl.new dt {
        color:#f58a8e;
	font-weight: bold;	/*日付の色を太字にする*/
        font-size: 12px;
}

#main dl.new dd {
	margin-bottom:5px;
	border-bottom:1px dotted #2A1C29;	/*日付ごとの下線*/
	line-height:25px;
        a{color:#36F;text-decoration:underline;}
        a:hover{color:#039;text-decoration:none;}

}

#main dl.new .cat_name{
        margin-top:10px;
	padding:2px 8px;
	background:#e44c91;
	text-decoration:none;
	color:#fff;
	border-radius:4px;
	display:inline-block;
	line-height:100%;
}

/*news_list.php
---------------------------------------------------------------------------*/

/* Pager style */
#main dl.new .pager_link{
	text-align:right;
	padding:5px;
}
/*ページャーボタン*/
#main dl.new .pager_link a {
    border: 1px solid #FFA612;
    border-radius: 5px 5px 5px 5px;
    color: #FFA612;
    font-size: 12px;
    padding: 3px 7px 2px;
    text-decoration: none;
    margin:0 1px;
}
/*現在のページのボタン*/
#main dl.new .pager_link a.current{
    background: #FFA612;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 12px;
    padding: 3px 7px 2px;
    margin:0 1px;
    text-decoration: none;
}
#main dl.new .pager_link a:hover {
    background:#ED6B1C;
    color: #FFFFFF;
}
#main dl.new .overPagerPattern{
	padding:0 2px ;	
}

#content ul.list {
	padding-top: 5px;
	padding-bottom: 5px;
}
#content ul.list li {
	line-height: 20px;
	margin-bottom: 7px;
	padding-left: 25px;
	background-image: url(images/li.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #453904;
}

/*news_post.php
---------------------------------------------------------------------------*/
#detailWrap {
	padding:10px;
	margin:0px;
	color:#666;
	font-size:12px;
	line-height:140%;
}
#detailWrap ul,#detailWrap ol{
	margin-left:20px;	
}
#detailWrap p{
	padding:5px 0;
}
#detailWrap a{
	text-decoration:underline;
}
p.up_ymd {
	font-size:13px;
	margin:0px;
	color:#666;
	text-align:right;
}
.detailPhoto{
	width:354px;
	float:left;
	margin:5px 2px;
	text-align:center;
	font-size:13px;
}
.back a{
	margin:10px 15px;
	padding:3px 15px;
	border:1px solid #aaa;
        text-decoration: none;
	color:#666;
	font-size:12px;
	border-radius:4px;
}


/* headimg
----------------------------------------------------- */
.hImg{
	background-color:#fff6d3;
}

.imgBorder{
	border:3px solid #d6d6d6;
}


/* h[x]
----------------------------------------------------- */
h1{
	padding-top:15px;
	font-size:77%;
}

h2{
	background:url(../images/h2_bg.gif) repeat-x left top;
	margin-bottom:2px;
	padding:7px 5px 10px 20px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size:100%;
	font-weight:bold;
	color:#000;
}

h3{
	background: url(../images/h3_bg.gif) repeat-x left top;
	padding:7px 5px 13px 10px;
	margin-bottom:5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:100%;
	font-weight:bold;
	color:#000;
}


h3.information{
	background: url(../images/h3_informaiton_bg.gif) repeat-x left top;
	padding:7px 5px 13px 10px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size:100%;
	font-weight:bold;
	color:#000;
}

h4{
	background: url(../images/h4_bg.gif) no-repeat left top;
	padding:7px 5px 13px 10px; 
	margin-bottom:5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:100%;
	font-weight:bold;
	color:#ffc529;
}

h5{
	background: url(../images/h5_bg.gif) no-repeat left 10px;
	padding:7px 5px 13px 10px; 
	margin-bottom:5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:100%;
	font-weight:bold;
	color:#000;
}

h6{
	margin-bottom:5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:77%;
	font-weight:bold;
	color:#000;
}

/* table
----------------------------------------------------- */

.table01 {
	width: 100%;
	margin-bottom:15px;
}

.table01 th, .table01 td {
	border-bottom: 1px dotted #000;
	padding: 10px 9px;
	vertical-align: top;
	line-height: 1.5;
}

.table01 th {
	background:url(../images/black_icon.gif) no-repeat 0 15px;
	width: 100px;
	font-weight: bold;
}


/* box
----------------------------------------------------- */

.box { margin: 0 0 10px;}

.box105{ width:105px;}

.box110{ width:110px;}

.box215{ width:215px; padding:5px;}

.box230Border{ width:230px; border:1px solid #dcdcdc; margin-bottom:5px;}

.box270{ width:270px;}

.box281{ width:281px;}

.box425{ width:425px;}

.box353{ width:353px;}

.box440{ width:440px;}

.box717{ width:717px;}

/* section
----------------------------------------------------- */

.section { margin: 0 0 10px;}

/* margin
-------------------------------------------- */
.marB5 { margin-bottom: 5px;}

.marR13 { margin-right: 10px;}

/* padding
-------------------------------------------- */

.padT15 { padding-top:15px;}

/* font 
----------------------------------------------------- */
.textR{	text-align:right;}
.textC{	text-align:center;}

.fontS{ font-size:77%;}

p{line-height:1.5;}

/* #footer
---------------------------------------------------------------------------------------- */

#footer {
	background-color:#fff6d3;
	border-top: 1px solid #e5dfc6;
	margin-top:15px;
	padding: 20px 0 20px;
}

#footerbox{
	margin: 0 auto;
	width:950px;
}

#footerLogo{
	float: right;
	width:178px;
}

#footerNavi {
	float:left;
	padding: 2px 0 0 0;
	font-size:77%;
	width:700px;
}

#footerNavi p {
	margin-bottom: 0;
	text-align:left;
}

#footerNavi a {
	text-decoration:none;
}

address{
	text-align:left;
}

address a {
	color:#666666;
	text-decoration:none;
}

address a:hover {
	color:#666666;
	text-decoration:none;
}


/* .clearfix
---------------------------------------------------------------------------------------- */

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
	font-size: 0.1em;
}

.clearfix {
	display: inline-block;
}

/*\*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/**/
