﻿@charset "utf-8";

body,
div,
dl, dt, dd,
ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre,
form, fieldset, input, textarea,
p,
blockquote,
th, td {
	margin: 0;
	padding: 0;
}
  
html {
	overflow-y: scroll;
}
  
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  }
  
ol, ul {
	list-style: none;
}
  
fieldset, img {
	border: 0;
}

img {
	vertical-align: bottom;
}
  
table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 100%;
}
  
caption, th {
	text-align: left;
}
  
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
}
  
input, textarea, select{
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}

input,
textarea {
	font-family: Verdana, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", Arial, Helvetica, sans-serif;
}

textarea {
	font-size: 100%;
}
