/**
Stylesheet: Slideshow.css
	CSS for Slideshow.

	
HTML:
	<div class="slideshow">
		<div class="slideshow-images" />
	</div>

/**
HTML:
	<div class="slideshow-images">
		<img />
		<img />
	</div>

*/
.slideshow-images {
	height: 360px; width: 960px;
}	

.slideshow-images-visible { 
	opacity: 1;
}	
.slideshow-images-next { 
	opacity: 0;
}
