/*
Theme Name: 大手町スタイル
Version: .311
Description: 広島の整骨院｜大手町Style整骨院
Author: Keith Eldridge
Author URI: http://www.keithdream.com
License: GNU General Public License v2
Template: Divi

*/
/* Add a 360 Degree Animation Effect to Divi’s Dropdown Menu Arrows */
#top-menu li > a:after {
    -webkit-transition: all 0.53s ease-in-out;
    -moz-transition: all 0.53s ease-in-out;
    -o-transition: all 0.53s ease-in-out;
    transition: all 0.53s ease-in-out;
}
#top-menu li:hover > a:after {
    -ms-transform: rotate(385deg);
    -webkit-transform: rotate(385deg);
    transform: rotate(385deg);
}

#top-header #et-info {
    margin-top: .3em;
    margin-bottom: .5em;
}

#et-info-phone:before {
    margin-right: .5em;
}

#et-info-phone {
    padding: .4em .7em;
    border: 1px solid;
}

#et-info-phone:hover {
    color: #fff;
    cursor: -webkit-grab;
}

/* Sidebars */
/* Line 友だち追加 */
.ja .afWrap .btn .label .lang,
.ja .btn .label .lang {
    font-size: 14px!important;
    text-align: center;
}

.line-add-friend {
    background-color: #00b900;
    padding: .4em 0 .2em;
    margin: 0 3em;
    border-radius: 5px;
}

#sidebar h4.widgettitle {
    background-color: #daae43;
    padding: .5em;
    margin-bottom: 1em;
    border-radius: 2%;
    color: white;
    text-align: center;
}

/* Font Awesome */
.red {
    color: #e60000;
}

.line-green {
    color: #00b900;
}

.fa-check-circle, .fa-check-square, .fa-medkit,
.fa-user-md {
    vertical-align: middle;
    padding-right: .25em;
}


/** Caldera Forms 

.caldera-grid .form-control {
    border: 1px solid #5b3b15!important;
    background-color: rgba(91, 59, 21, .19)!important;
    font-size: 18px;

    margin: 10px;
    padding: 10px;
}

.caldera-grid input[type=submit] {
    width: 10em;
    height: 3em;
    font-size: 1em;
    font-weight: bold;
    color: rgb(91, 59, 21);
    margin: 8px auto 0 1em;
    background-color: rgba(91, 59, 21, .19);
    border: 1px rgb(91, 59, 21) solid;
    border-radius: 4%;
}

.caldera-grid input[type=submit]:hover {
    background-color: rgb(91, 59, 21);
    border: 1px rgbA(91, 59, 21, .19) solid;
    color: #fff;
}

*/

/** Footer **/
#main-footer {
    border-top: 1px solid #d2e6eb;
}

#footer-widgets {
    padding: 1em 0 0;
}

.et_pb_gutters3 .footer-widget {
    margin-bottom: 0;
}