@charset "UTF-8";


/*---------- ページ全体の指定 ----------*/

html, body, header, section, article, nav, footer,
div, span, p, h1, h2, h3, h4,
ul, ol, li, dl, dt, dd,
table, tr, th, td, tbody, thead, tfoot {
  margin: 0;
  padding: 0;
}

img {border: 0;}

body {
  width: 100%;
  background-color: #ffffff;
  font: 14px/1.231 'ヒラギノ角ゴ pro W3', "Hiragino KaKu Gothic Pro", Osaka, sans-serif;
  line-height: 1.7;
}

a:link {
  color: #ee7800;
}

a:hover {
  color: #f39800;
}

a:visited {
  color: #ee7800;
}


/*---------- ヘッダー ----------*/

header {
  width: 100%;
}

header h1 {
  padding: 8px 0 0 5px;
  text-align: left;
  color: #333333;
  font-size: 18px;
}

header h1 a {
  color: #333333 !important;
  text-decoration: none;
  font-size: 18px;
}

header h1 a:hover {
  color: #f39800 !important;
  text-decoration: underline;
  font-size: 18px;
}

#page_top {
  margin: 0;
  padding: 0;
}


/*---------- コンテンツ ----------*/

article {
  width: 100%;
  margin: 0 0 8px 0;
}

section {
  width: 100%;
  margin: 0 0 8px 0;
}

section h2 {
  margin: 0 0 8px 0;
  padding: 5px 0 3px 14px;
  font-size: 14px;
  color: #444444;
  border-bottom: solid 2px;
  border-bottom-color: #ee7800;
  background: url(img/h_bg.gif) center repeat-x;
}

section p {
  padding: 3px 8px 3px 8px;
  line-height: 1.7;
}

section .gray_bg {
  margin: 8px 0 8px 0;
  padding: 2px 8px 2px 8px;
  line-height: 1.7;
  letter-spacing: 1px;
  border-top: solid 1px #dddddd;
  border-right: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  border-left: solid 1px #dddddd;
  background-color: #eeeeee;
}

section .gray_bg p {
  padding: 3px;
  line-height: 1.7;
  letter-spacing: 1px;
}

section img.picture {
  margin: 0 10px 10px 0;
  float: left;
}

section img.picture_r {
  margin: 0 0 10px 10px;
  float: right;
}

section span.red {
  color: #e60033;
}

section span.red_b {
  color: #e60033;
  font-weight: bold;
}

section span.blue {
  color: #007bbb;
}

section span.pink {
  color: #c53d43;
}

section span.brown {
  color: #993300;
}

section span.brown_b {
  color: #993300;
  font-weight: bold;
}

section span.green {
  color: #00ae4f;
}

section table.table_line {
  width: 100%;
  border-collapse: collapse;
  border: solid 1px #bbbbbb;
  margin : 8px  0 8px 0;
}

section td.table_line {
  border-collapse: collapse;
  border: solid 1px #bbbbbb;
  padding : 8px 10px 8px 10px;
}

/*メインコンテンツ内の「おしらせ」部分
---------------------------------------------------------------------------*/
section dl{
	width: 98%;
	margin-top: 0.5em;
	margin-bottom: 1em;
        margin-left: 5px;
}

section dt {
	font-weight: bold;	/*日付を太字に。通常の太さがいいなら、この1行を丸ごと削除。*/
	color: #f58a8e;		/*日付の文字色をピンク色（#f58a8e）に*/
}

section dd {
	border-bottom: 1px dotted #2A1C29;	/*コメントの下に1pxの点線(dotted)を#2A1C29の色で入れる。*/
	padding-left: 1em;	/*コメントの左側に少しだけ空白を設ける。上の日付と同じくしたいなら、この1行を丸ごと削除。*/
}

section .cat_name{
	padding:2px 8px;
	background:#e44c91;
	text-decoration:none;
	color:#fff;
	font-size:12px;
	border-radius:4px;
	display:inline-block;
	line-height:100%;
}

/*news_list.php 部分
---------------------------------------------------------------------------*/
/* Pager style */
section .pager_link{
	text-align:right;
	padding:10px;
}
/*ページャーボタン*/
section .pager_link a {
    border: 1px solid #FFA612;
    border-radius: 5px 5px 5px 5px;
    color: #FFA612;
    font-size: 12px;
    padding: 3px 7px 2px;
    text-decoration: none;
	margin:0 1px;
}
/*現在のページのボタン*/
section .pager_link a.current{
    background: #FFA612;
    border: 1px solid #FFA612;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 12px;
    padding: 3px 7px 2px;
	margin:0 1px;
    text-decoration: none;
}
section .pager_link a:hover {
    background:#ED6B1C;
    color: #FFFFFF;
}
section .overPagerPattern{
	padding:0 2px ;	
}
/* /Pager style */

/*news_post.php
---------------------------------------------------------------------------*/
#wrap {
	padding:5px;
	font-size:90%;
}
.detailPhoto{
	text-align:center;
	margin:5px 0;
}
.detail_photo img{
	max-width:100%;
	height:auto;
}
.up_ymd{
	text-align:right;	
}
.back a{
	margin:10px 15px;
	padding:3px 15px;
	border:1px solid #aaa;
	text-decoration:none;
	color:#666;
	font-size:12px;
	border-radius:4px;
}

/*テーブル1
---------------------------------------------------------------------------*/
.ta1 {
	width: 100%;
}
.ta1, .ta1 td, .ta1 th{
	border: 1px solid #c9c9c9;	/*テーブルの枠線の幅、線種、色*/
	line-height: 2;
}
/*テーブル内の右側*/
.ta1 td{
	width: 40%;
	padding: 10px;
}
/*テーブル内の左側の見出し部分*/
.ta1 th{
	width: 20%;
	padding: 10px;
	text-align: center;
	background-color: #E5E5E5;	/*背景色*/
}
/*テーブル１行目に入った見出し部分*/
.ta1 th.tamidashi{
	width: auto;
	text-align: left;
	color: #FFFFFF;			/*文字色*/
	background: #FFA52E;	/*背景色*/
}

/*テーブル2
---------------------------------------------------------------------------*/
.ta2 {
	width: 100%;
}
.ta2, .ta2 td, .ta2 th{
	border: 1px solid #c9c9c9;	/*テーブルの枠線の幅、線種、色*/
	line-height: 2;
}
/*テーブル内の右側*/
.ta2 td{
	width: 80%;
	padding: 10px;
}
/*テーブル内の左側の見出し部分*/
.ta2 th{
	width: 20%;
	padding: 10px;
	text-align: center;
	background-color: #E5E5E5;	/*背景色*/
}
/*テーブル１行目に入った見出し部分*/
.ta2 th.tamidashi{
	width: auto;
	text-align: left;
	color: #FFFFFF;			/*文字色*/
	background: #FFA52E;	/*背景色*/
}

.boxmini {
	overflow: auto;
	padding: 5px;		/*ボックスの左の線*/
	margin-bottom: 1em;
	border: 1px solid #d6d6d6;
	width: 105px;
	height: 220px;
	float: left;
	margin-left: 10px;
	margin-right: 2px;
	display: inline;
}

/*---------- ナビ ----------*/

nav {
  width: 100%;
  text-decoration: none;
  margin: 0 0 10px 0;
  background: url(img/nav_bg.gif) repeat-x;
}

nav h2 {
  padding: 5px 0 3px 14px;
  font-size: 14px;
  color: #ffffff;
  border-bottom: solid 1px;
  border-bottom-color: #ee7800;
  background: url(img/h_bg_gray.gif) center repeat-x;
}

nav ul {
  width: 100%;
  border-top: solid 1px;
  border-top-color: #cccccc;
}

nav li {
  width: 100%;
  list-style: none;
  text-align: center;
  background: url(img/arrow_icon.png) no-repeat scroll right center transparent;
}

nav li a {
  padding: 10px;
  display: block;
  color: #ee7800;
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid 2px;
  border-bottom-color: #cccccc;
  background: url(img/nav_bg.gif) repeat-x;
}

nav li a:hover {
  color: #f39800;
  display: block;
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid 2px;
  border-bottom-color: #cccccc;
  background: url(img/nav_bg_hover.gif) repeat-x;
}


/*---------- トップに戻る ----------*/

#page_back {
  margin: 0 0 8px 0;
  padding: 0 6px 0 0;
  text-align: right;
}


/*---------- フッター ----------*/

footer {
  width: 100%;
  padding: 10px 0 10px 0;
  color: #333333;
  text-align: center;
  border-top: solid 1px;
  border-top-color: #cccccc;
  background-color: #eeeeee;
}

footer p {
  padding: 10px;
  color: #555555;
}

footer a {
  color: #555555 !important;
}

footer a:hover {
  color: #777777 !important;
}

footer a:visited {
  color: #555555;
}

footer p.copy {
  padding: 10px;
  font-size: 12px;
  color: #555555;
}

footer p.copy a {
  color: #ee7800 !important;
  text-decoration: none;
}

footer p.copy a:hover {
  color: #f39800 !important;
  text-decoration: underline;
}

footer p.copy a:visited {
  color: #ee7800;
  text-decoration: none;
}
